@page
@model BookStoreFinalProject.Pages.Authors.Delete

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Delete Author</title>
</head>
<body>
<div>
    <div class="card">
        <div class="card-header">
            <div class="card-body">
                <p>Are you Sure you want to delete @Model.Author.Name ?</p>
                <form method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button asp-page="./List" class="btn btn-success">Back</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>