@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card" style="width: 50rem;">
    <div class="card-body" >
        <h1 class="display-4">Welcome to My Book Store Project</h1>
        <p>Through this app you can see a list of all authors and books that are created.</p>
        <hr>
        <p>
            The feature of this app that you can do all the CRUD operations on both the books and the authors,
            <br/>
            as you can see there is a tab for each one of them in the navbar that can redirect you to their pages and from there you will see all the operations available
        </p>
    </div>

</div>