@page
@model BookStoreFinalProject.Pages.NotFound

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h2 class="text-danger">Not Found</h2>
</div>
</body>
</html>